<div class="nav-wrapper">
  <a class="logo" routerLink="/logged/experts">
    <img src="assets/logo.png"/>
  </a>

  <ul class="nav-menu">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/logged/skilleds">
        <i class="bi bi-people"></i>
        Expertos
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/logged/tags">
        <i class="bi bi-tag"></i>Etiquetas
      </a>
    </li>
  </ul>
  <div class="navbar-user">
    <img src="assets/user.png">
    <div class="user-text">
      <div class="name">Nombre Apellido</div>
      <div class="email text-secondary">nombreapellido@gmail.com</div>
    </div>
  </div>

</div>

